<!doctype html>
<html>
  <head>
    <%= partial "partials/document_head" %>
    
    <title>Blog Title<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

  </head>
  
  <body>

    <div id="main" role="main">
      <%= yield %>
    </div>
      
  </body>
</html>
